mixin imagePanel(image)
    div.thumbnail
        img.bridal-party(src=image)
        div.caption
            block

extends common/showcase
block title
    | Bridal Party
block text
    div.page-header
        h1#bridesmaids.text-center
            | Bridesmaids
    div.row
        div.col-xs-12.col-md-4.col-md-offset-4
            +imagePanel("images/bridesmaids/mallory.jpg")
                h3
                    | Mallory Miller 
                    small
                        | Maid of Honor
                p
                    | I met Mallory in 2009 when we were in colorguard together.
                    | We quickly became inseparable. Throughout high school and
                    | college, Mallory was always a friend that I knew I could talk
                    | to and she would be understanding and non judgemental of
                    | everything. We could spend days/weeks without seeing each other
                    | and as soon as we were together again, it was as if we were
                    | never apart. Mallory has been my best friend through the big
                    | things and the little things and has seen me at my absolute
                    | worst and best. She is the most sweet, caring, supportive,
                    | genuine, selfless, and beautiful friend to have, and has
                    | supported Jonathan and I’s relationship wholeheartedly from
                    | the beginning (and even before that). All of these things
                    | made her the perfect choice to be my maid of honor!
    div.row
        div.col-xs-12.col-md-3
            +imagePanel("images/bridesmaids/michelle.jpg")
                h4= "Michelle Page"
                p
                     | Michelle has been my best friend since I knew what a best
                     | friend was! We met and became friends in third grade. For
                     | as long as I can remember, Michelle has been the fun blonde
                     | to my cautious brunette. She has a way of bringing out the
                     | most exciting parts of me and can always find a way to help
                     | me let loose. Throughout high school and college, she has
                     | been the most non-judgemental and supportive person that I
                     | know and has never left my side. Although our paths have
                     | taken us to different places and situations, she is still my
                     | fun-loving, silly, smart, uplifting, sassy, and gorgeous
                     | Michelleigh and our 13 (going on 30!) year friendship just
                     | keeps getting better!

        div.col-xs-12.col-md-3
            +imagePanel("images/bridesmaids/angela.jpg")
                h4= "Angela Leahey"
                p
                    | I met Angela in middle school at CCMS. We attended youth group
                    | and small group together throughout high school and she was
                    | always the friend that I looked up to and went to for advice.
                    | Although we are the same age, I’ve always felt that she was so
                    | wise! Angela and I lived together during our first two years of
                    | college and I don’t know that I could have made it through
                    | without her. She is a shining example of a Christian woman and
                    | a Godly friend that is always there when I need her. She is
                    | inspirational, strong, wise, helpful, encouraging, reliable
                    | and absolutely beautiful!
        div.col-xs-12.col-md-3
            +imagePanel("images/bridesmaids/anna.jpg")
                h4= "Anna Poston"
                p
                     | Anna is Jonathan’s little sister. I’ve known Anna for many
                     | years, but it’s only been these past few that I really got
                     | to know the real Anna. Like Jonathan, she likes to listen and
                     | take in what’s going on around her rather than be the center
                     | of attention; but when she does share her opinion, it’s
                     | usually hilarious! She sees the good in people and is always
                     | ready to be encouraging to everyone. I’m so happy to have my
                     | caring, gentle, athletic (so athletic), bread-loving, smart,
                     | adventurous, and beautiful sister-in-law-to-be standing beside
                     | me on our big day!
        div.col-xs-12.col-md-3
            +imagePanel("images/bridesmaids/alexis.jpg")
                h4= "Alexis Kovolenko"
                p
                    | Alexis and I met during my Junior year at ECU when we joined
                    | the same sorority, Sigma Alpha Omega. Right away, I realized
                    | that she was the same as me. Both organized, type A, and
                    | strong-willed, we clicked in a way that I hadn’t with hardly
                    | anyone before. She is the friend that always has your back and
                    | is there for a heart to heart anytime of the day or night.
                    | From football games to sorority formals, she makes everything
                    | more fun and is the life of the party! She encourages me to be
                    | a better person and a better friend. I can’t imagine college
                    | without my energetic, friendly, spunky, wide-open, fun, and
                    | stunning friend!
