mixin imagePanel(image)
    div.thumbnail
        img.bridal-party(src=image)
        div.caption
            block

extends common/showcase
block title
    | Groomsmen
block text
    div.page-header
        h1#groomsmen.text-center
            | Groomsmen
    div.row
        div.col-xs-12.col-md-4.col-md-offset-4
            +imagePanel("images/groomsmen/jon.jpg")
                h3
                    | Jon Poston
                    small
                        | Best Man
                p
                    | Jon is none other than my Dad. He's always been there for me and in so many ways really is my
                    | best man. We've had more than our fair share of great days. From misadventures at the top of
                    | mountains to seeing State beat Carolina for the fifth year in a row I'm glad I was blessed
                    | him as a father. And now I get to have him by my side as I start the biggest adventure of my life!
    div.row
        div.col-xs-12.col-md-3
            +imagePanel("images/groomsmen/thomas.jpg")
                h4= "Thomas Poston"
                p
                    | Thomas is my brother. As with most brothers he's a pain the butt right until you really need him
                    | to come through. He may be difficult at times but you can't help but love him after you really
                    | get to know him.
        div.col-xs-12.col-md-3
            +imagePanel("images/groomsmen/tyler.jpg")
                h4= "Tyler Camden"
                p
                    | Tyler and I met at church in high school. We eventually became friends and after 2 years at NC State
                    | together we really bonded. I'm glad to call Tyler a friend and look forward to sharing this special
                    | day with him!
        div.col-xs-12.col-md-3
            +imagePanel("images/groomsmen/brandon.jpg")
                h4= "Brandon Dozier"
                p
                    | Brandon is Taylor's brother. As you might guess we aren't exactly best friends, but he really is
                    | a fun guy to hang out with and I look forward to many great days together in the future!
        div.col-xs-12.col-md-3
            +imagePanel("images/groomsmen/bradley.jpg")
                h4= "Bradley Cook"
                p
                    | Bradely and I have known each other since birth, largely because our parents are such close
                    | friends. When my family and I moved away from Wake Forest we did go our separate ways, but every
                    | time our family's get back together its always a great time catching up!
    include common/footer.jade
