mixin registration(imageLocation, registrationLocation)
    div.col-xs-12.col-md-4.col-lg-3
        div.thumbnail
            a(href=registrationLocation)
                img(src=imageLocation)

mixin instapanel(title, type)
    div.row#location-wrapper
        div.col-xs-12.col-md-12.col-lg-12.col-xl-12
            div.panel(class="panel-#{type}")
                div.panel-heading
                    h3.panel-title #{title}
                div.panel-body
                    block

extends common/showcase
block title
    | Wedding Information
block text
    div.col-xs-12.col-md-12
        h1#location.text-center.page-header
            | Wedding Information

    div.row#location-wrapper
    +instapanel("Location & Lodging", "primary")
        div.row
            div.col-xs-12.col-md-0.col-lg-0.col-xl-0
                div.alert.alert-info(role="alert")
                     | The map on this page is best viewed on a wide screen device. If you are on a mobile device consider rotating your device or moving to a different device.
        div.row
             div.col-xs-12.col-md-12#map-sidebar
                 ul.nav.nav-pills
                    li.active(role="presentation")
                        a.map-link(data-loc="church")
                            | Providence Baptist Church
                            em
                                small= " Wedding"
                    li(role="presentation")
                        a.map-link(data-loc="pines")
                            | The Pines at Elizabeth City
                            em
                                small= " Reception"
                    li.dropdown(role="presentation")
                        a.dropdown-toggle(data-toggle="dropdown", href="#", role="button" ariahaspopup="true" aria-expanded="false")
                            | Lodging
                            span.caret
                        ul.dropdown-menu
                             li(role="presentation")
                                a.map-link(data-loc="fairfieldInn")
                                    | Fairfield Inn
            div.col-xs-12.col-md-10.pull-right#location-map
    if registrations.length > 0
        +instapanel("Registrations", "primary")
            div.row
                each registration in registrations
                    +registration(registration.image, registration.registration)
    else
        +instapanel("Registrations", "warning")
            p
                | Unfortunately we haven't registered at any stores yet... Please check back later!
    +instapanel("Song Selection", "success")
        iframe.col-xs-12.text-center.embed-responsive-item(src="https://docs.google.com/forms/d/1D3ZATh5pfHt3bbUfuRUR36Y1hjxvFcllcm6zkLH4jD0/viewform?embedded=true" width="760" height="600" frameborder="0" marginheight="0" marginwidth="0" scrolling="no")= "Loading..."
