mixin registration(imageLocation, registrationLocation)
    div.col-xs-12.col-md-4.col-lg-3
        div.thumbnail
            a(href=registrationLocation)
                img(src=imageLocation)

mixin map(title, type)
        div.col-xs-12.col-md-12.col-lg-12.col-xl-12
            div.panel(class="panel-#{type}")
                div.panel-heading
                    h3.panel-title #{title}
                div.panel-body
                    block
mixin genericpanel(title, type)
        div.col-xs-12.col-md-12.col-lg-12.col-xl-12
            div.panel(class="panel-#{type}")
                div.panel-heading
                    h3.panel-title #{title}
                div.panel-body
                    block

extends common/showcase
block title
    | Wedding Information
block text
    div.col-xs-12.col-md-12
        div.page-header
            h1#location.text-center
                | Wedding Information

    div.row#location-wrapper
    +map("Location & Lodging", "primary")
        div.row
            div.col-xs-12.col-md-12.col-lg-12.col-xl-12
                div.alert.alert-info.show
                    h4
                        | We will be blocking rooms at the FairField Inn. More information about these rooms will be available soon.
        div.row
            div.col-xs-12.col-md-0.col-lg-0.col-xl-0
                div.alert.alert-info(role="alert")
                     | The map on this page is best viewed on a wide screen device. If you are on a mobile device consider rotating your device or moving to a different device.
        div.row
             div.col-xs-12.col-md-12#map-sidebar
                 ul.nav.nav-pills
                    li.active(role="presentation")
                        a.map-link(data-loc="church")
                            | Providence Baptist Church
                            em
                                small= " Wedding"
                    li(role="presentation")
                        a.map-link(data-loc="pines")
                            | The Pines at Elizabeth City
                            em
                                small= " Reception"
                    li.dropdown(role="presentation")
                        a.dropdown-toggle(data-toggle="dropdown", href="#", role="button" ariahaspopup="true" aria-expanded="false")
                            | Lodging
                            span.caret
                        ul.dropdown-menu
                             li(role="presentation")
                                a.map-link(data-loc="fairfieldInn")
                                    | Fairfield Inn
            div.col-xs-12.col-md-10.pull-right#location-map
    div.row
        if registrations.length > 0
            +genericpanel("Registrations", "primary")
                    each registration in registrations
                        +registration(registration.image, registration.registration)
        else
            +genericpanel("Registrations", "warning")
                h2.text-center
                    | Information coming soon!
        +genericpanel("Song Selection", "success")
            div#song-selection
                h4 We need your help!
                p
                    | Coming up with a song list is hard! So help us out by telling us some of your favorite songs.
                    | You can see how your song is doing down below!
                    br
                    br
                    | Note that submitting your suggestion here does not mean that your song will be played. That's why its a suggestion :)
                    br
                form.form-inline(onSubmit="return addNewSuggestion()")
                    div.form-group
                        label(for="exampleInputName2")
                            | Song Title
                        input.form-control#song-title(required="required" type="text" placeholder="Bad Blood")
                    div.form-group
                        label(for="exampleInputEmail2")
                            | Song Artist
                        input.form-control#song-artist(required="required" type="text" placeholder="Taylor Swift")
                    button.btn.btn-primary(type="submit")
                        | Submit Suggestion
                hr
                table.table.table-condensed.table-striped
                    thead
                        tr
                            th Song Title
                            th Song Artist
                            th Suggestion Count
                    tbody
    include common/footer.jade
