mixin caroselIndicators(target, quantity)
    ol.carousel-indicators
        li.active(data-target=target, data-slide-to=0)
        - var n = 1
        while n < quantity
            li(data-target=target data-slide-to=n++)

mixin quote()
    div.item(class!=attributes.class)
        p.text-center.lead
            block

mixin photo(path)
    div.item(class!=attributes.class)
        img.center-block.photos-photo(src=path)


extends layout

block content
    div#contents
        img.showcase(src=showcaseImagePath)
        div.container
            block text
    div.modal.fade#displayModal(tabindex="-1" role="dialog")
        div.modal-dialog(role="document")
            div.modal-content
                div.modal-header
                    button.close( type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true")
                            | &times;
                    h4.modal-title
                        | Modal title
                div.modal-body
                    p
